/*=============== GOOGLE FONTS ===============*/
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
/*=============== VARIABLES CSS ===============*/
@font-face {
  font-family: 'Lato Regular';
  src: url('../fonts/lato-regular.ttf');
}
@font-face {
  font-family: 'Lato Bold';
  src: url('../fonts/lato-bold.ttf');
}
@font-face {
  font-family: 'Lato Black';
  src: url('../fonts/lato-black.ttf');
}
:root {
  --white-color: #ffffff;
  --black-color: #040404;
  --blue-color: #4944FF;
  --black-color-lighten: rgba(4, 4, 4, 0.2);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Lato', sans-serif;
  --font-regular: 'Lato Regular';
  --font-wbold: 'Lato Bold';
  --font-wblack: 'Lato Black';
  --biggest-font-size: 70px;
  --h1-font-size: 50px;
  --h2-font-size: 20px;
  --h3-font-size: 1rem;
  --normal-font-size: 16px;
  --small-font-size: .813rem;
  --smaller-font-size: 14px;
  --very-small: 12px

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-bold: 700;
  --font-black: 900;
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Responsive typography */
@media screen and (min-width: 1024px) {
  :root {
    /* --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem; */
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-regular);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--white-color);
  color: var(--white-color);
  transition: .3s; 
}
body.night {
  background-color: var(--black-color);
  color: var(--black-color);
}
h1 {
  color: var(--black-color);
  font-size: var(--h1-font-size);
  font-weight: var(--font-black);
  font-family: var(--font-wblack);
}
h2 {
  font-family: var(--font-wblack);
  font-size: var(--h2-font-size);
  font-weight: var(--font-black);
  color: var(--black-color);
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--black-color);
}

img {
  max-width: 100%;
  height: auto;
}

input,
button {
  font-family: var(--body-font);
  outline: none;
  border: none;
}

/*=============== THEME ===============*/


/*========== Variables Dark theme ==========*/


/*========== 
    Color changes in some parts of 
    the website, in dark theme 
==========*/


/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1564px;
  margin: auto;
  padding: 0 15px;
}


.section {
  padding: 80px 0 0;
}


.main {
  overflow: hidden; /* For the animations ScrollReveal*/
}

/* =================   HEADER =================== */
.header {
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 152px;
}
.header__nav {
  position: relative;
}
.header__left {
  display: flex;
  align-items: center;
  gap: 111px;
}
.header__ul {
  margin: 0 0 2px;
  width: 717px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  
}
.header__list-drop {
  margin: 8px 3px 0;
  position: absolute;
  display: none;
}
.header__link-drop.drop ~ .header__list-drop{
  display: block;
}
.header__link-drop img.rotate {
  transform: rotate(180deg);
}


.list__drop-img {
  display: none;
  gap: 13px;
}
.list__drop-link {
  display: block;
  margin-bottom: 9px;
}

.header__link-drop {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.header__link-drop img {
  width: 12px;
  height: 6px;
  transform: rotate(0deg);
}
.header__link {
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0.05em;
  line-height: 19px;
}
.header__droplist-img_dop {
  width: 150px;
  margin: 10px -14px 0;
}
.header__droplist-img_dop img{
  /* display: flex; */
  margin-right: 13px;
  transition: transform .1s ease;
}
.header__droplist-img_dop img:hover {
  transform: scale(1.4);
  transition: transform .1s ease;
}
.header__switch {
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 60px;
  height: 32px;
  padding: 0 0 0 1px;
  background-color: var(--blue-color);
  border-radius: 50px;
  
}
.header__switch.switch {
  justify-content: flex-end;
}



/* ==================      HOME ========================= */

.home__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 149px 0 0;
}
.home__text {
  width: 716px;
  max-width: 100%;
}

.home__title {
  text-transform: uppercase;
  line-height: 60px;
}

.home__subtitle {
  text-transform: lowercase;
  font-size: var(--normal-font-size);
  line-height: 19px;
  margin: 25px 0 30px;
  color: var(--black-color);
}
.home__subtitle span {
  text-transform: uppercase;
}
.home__img {
  /* overflow: hidden; */
  width: 670px;
  height: 418px;
}
.home__img::after {
  content: url(/assets/img/homedecor3.svg);
  position: absolute;
  right: 0;
  top: 11%;
  z-index: -1;
}
.btn {
  cursor: pointer;
  background: var(--blue-color);
  color: var(--white-color);
  font-family: var(--font-wblack);
  text-transform: uppercase;
  font-size: 22px;
  padding: 27px 41px;
  border-radius: 50px;
}

.home__btn {
  font-size: 22px;
  width: 300px;
  padding: 27px 0;
  line-height: 26px;
  font-family: var(--font-wblack);
}

.swiper-home {
  position: relative;
  overflow: hidden;
  top: -44px;
}
.swiper-wrapper-home{
  width: 100%;
  height: 100%; 
  display: flex;
  /* overflow: hidden; */
}
.home-slide.home-slide {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  /* height: 418px; */
  background: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* flex-shrink: 0; */
}


/* ====================  ABOUT ======================= */

.about__wrapper{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  background: var(--black-color);
  padding: 80px 0 91px;
  margin: 50px 0 0;
}
.about__wrapper::after {
  content: '';
  display: block;
  position: absolute;
  width: 100vw;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  background: var(--black-color);
  z-index: -1;
}
.about__line {
  width: 2px;
  opacity: .5;
  height: 60px;
  background: rgba(255, 255, 255, 1);
  margin: 0 34px 0;
}
.about__item:nth-child(1) {
  width: 397px;
}
.about__item:nth-child(2) {
  width: 397px;
}
.about__item p {
  font-size: 25px;
  text-align: center;
  color: var(--white-color);
  text-transform: uppercase;
  font-family: var(--font-wblack);
}


/* ===========  PROJECT ================ */
.swiper-graph {
  position: relative;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 623px;
  margin: 50px 0 0;
}
.swiper-graph-title {
  margin: 44px 0 0;
}
.swiper-wrapper-graph {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
}
.swiper-wrapper-graph .swiper-slide {
  background: none;
}
.swiper-slide img {
  height: 100%;
  width: 100%;
}
.swiper-web {
  position: relative;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 623px;
  margin: 47px 0 0;
}
.swiper-wrapper-web {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
}
.swiper-slide {
  flex-shrink: 0;
  width: 490px;
  max-width: 100%;
  height: 593px;
  border-radius: 50px;
}
.swiper-slide img {
  height: 100%;
}
.swiper-pagination-bullet {
  color: #D9D9D9;
}
.swiper-pagination-bullet-active {
  background: var(--blue-color);
}
.project__swiper-web {
  position: relative;
}
.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0;
}
.swiper-button-prev-graph,
.swiper-button-next-graph {
  content: url('/assets/img/arrow.svg');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 3px 13px;
  background: var(--blue-color);
  border-radius: 100%;
  cursor: pointer;
  width:45px;
  height: 45px;
  top: 50%;
}
.swiper-button-prev-graph {
  position: absolute;
  left: -70px;
  z-index: 1;
  transform: rotate(180deg);
}
.swiper-button-next-graph {
  position: absolute;
  right: -70px;
  z-index: 1;
}
.swiper-button-prev {
  position: absolute;
  left: -78px;
  z-index: 1;
  transform: rotate(180deg);
  user-select: none;
}
.swiper-button-next-graph, .swiper-button-prev-graph {
  user-select: none;
}
.dev-btn-next, .dev-btn-prev {
  user-select: none;
}
.graph-btn-next,.graph-btn-prev {
  user-select: none;
}
.comment-button-next, .comment-button-prev {
  user-select: none;
}
.swiper-button-next {
  position: absolute;
  right: -78px;
  z-index: 1;
  user-select: none;

}
.swiper-button-prev, .swiper-button-next {
  content: url('/assets/img/arrow.svg');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 3px 13px;
  background: var(--blue-color);
  border-radius: 100%;
  width:45px;
  height: 45px;
  z-index: 1;
}
.project__title {
  position: relative;
}
.project___title-text.project___title-text {
  color: var(--black-color-lighten);
  font-size: var(--biggest-font-size);
  font-family: var(--font-wblack);
}
.project__title-title {
  font-size: var(--h2-font-size);
  color: var(--black-color);
  font-weight: var(--font-black);
  position: absolute;
  bottom: 6px;
  text-transform: uppercase;
}


/* ==============  SERVICE ==================== */

.service {
  position: relative;
  margin: -37px auto;
}

.service__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.service__items {
  display: flex;
  margin: 50px 0 0;
}
.service__item {
  width: 490px;
  max-width: 100%;
  /* height: 393px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 50px;
}
.service__item-inner {
  position: relative;
  background: url(/assets/img/s1.png);
  background-size: cover;
  padding: 20px 50px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.service__item-inner::before {
  content: '';
  position: absolute;
  display: block;
  inset: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.72) 0%, rgba(0, 0, 0, 0) 100%);
  border-radius: 50px;
}
.service__item-inner2 {
  background: url(/assets/img/s2.png);
  background-size: cover;
}
.service__item-inner3 {
  background: url(/assets/img/s3.png);
  background-size: cover;
}
.service__item-title {
  font-size: 25px;
  text-align: center;
  font-family: var(--font-wblack);
  color: var(--white-color);
  z-index: 1;
}
.service__item-textitem {
  margin: 45px 0 109px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 1;

}
.service__item-textitem-first {
  margin: 45px 0 148px;
}
.service__item-textitem p {
  font-size: 20px;
  color: var(--white-color);
  font-weight: var(--font-regular);
}
.service__item-price {
  color: var(--white-color);
  font-family: var(--font-wblack);
  text-align: end;
  font-size: 20px;
}

.service__item-btn {  
  font-size: 22px;
  font-family: var(--font-wblack);
  border-radius: 0 0 50px 50px;
}

.swiper-service {
  overflow: hidden;
  width: 100%;
  margin: 55px 0 0;
  height: 388px;
}

.swiper-wrapper-service-dev {
  display: flex;
  width: 100%;
}
.swiper-wrapper-service-dev .swiper-slide {
  flex-shrink: 0;
}

.swiper-service-dev {
  overflow: hidden;
  position: relative;
  display: flex;
  height: 380px;
  width: 100%;
  margin: 55px 0 0;
}
.ceo {
  display: flex;
  margin: 55px 0 0;
}
.swiper-wrapper-service {
  display: flex;
  height: 348px;
}

.swiper-slide-service {
  display: flex;
  background: none;
  height: auto;
}
.swiper-slide-text {
  width: 490px;
}
.swiper-slide-img img{
  width: 100%;
  height: 348px;
}

.swiper-slide-img {
  margin: 0 30px 0 0;
}
 
.swiper-slide-text__subtitle {
  font-size: 14px;
  color: var(--black-color);
  margin: 20px 0 63px;
}

.swiper-slide-down {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.swiper-slide-price {
  font-family: var(--font-wblack);
  font-size: 25px;
  color: var(--black-color);
}
.swiper-slide-btn {
  padding: 16px 68px;
  font-size: 18px;
  font-family: var(--font-wblack);
}
.project__swiper-service {
  margin: 80px 0 0;
}

.comment-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
  background: #F7F7F7;
}
.swiper-slide-active.comment-slide {
  background: #5C4FB6;
}
.comment-slide p {
  color: var(--black-color);
  font-size: 10px;
  text-align: center;
  width: 335px;
}
.comment {
  display: flex;
  flex-direction: column;
  margin: 40px auto 0;
}
#comment  {
  max-width: 100%;
  max-height: 74px;
  padding: 13px 34px;
  overflow: hidden;
  resize: none;
}
textarea:focus {
  border: none;
  outline: 1px solid var(--blue-color);
}

.comment__btn {
  display: flex;
  align-self: flex-end;
  font-size: 18px;
  padding: 16px ;
  display: block;
  text-align: center;
  max-width: 230px;
  margin: 50px 0 0;
}
.swiper-slide-active.comment-slide p {
  color: var(--white-color);
}

.name {
  font-size: 10px;
  position: relative;
  font-family: var(--font-wbold);
}

.name::after {
  content: '';
  display: block;
  position: absolute;
  width: 43px;
  height: 1px;
  right: 25%;
  bottom: 7px;
  background: var(--black-color);
}
.name::before {
  content: '';
  display: block;
  position: absolute;
  width: 43px;
  height: 1px;
  left: 25%;
  bottom: 7px;
  background: var(--black-color);
}
.slide-text {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 14px;
  margin: 33px 0 0;
}
.comment-slide img {
  width: 144px;
  height: 144px;
  margin: 0 0 40px;
}
.swiper-slide-active.comment-slide img {
  width: 230px;
  height: 230px;
}
.swiper-slide-active .name::after {
  content: '';
  display: block;
  position: absolute;
  width: 43px;
  height: 1px;
  right: 25%;
  bottom: 7px;
  background: var(--white-color);
}
.swiper-slide-active .name::before {
  content: '';
  display: block;
  position: absolute;
  width: 43px;
  height: 1px;
  left: 25%;
  bottom: 7px;
  background: var(--white-color);
}

.swiper-service_comment  {
  width: 100%;
  position: relative;
  display: flex;
  overflow: hidden;
  margin: 50px 0 0;
}
.swiper-wrapper-service_comment {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
}
.comment-slide {
  flex-shrink: 0;
}
.webstore.webstore {
  font-size: 15px ;
  font-family: var(--font-wbold);
}
/* ==============  REVIEW ======================= */

.review__content {
  display: flex;
  margin: 50px 0 0;
}
.review__col-one {
  width: 714px;
  height: 403px;
  max-width: 100%;
}
.review__col-one img{
  width: 714px;
}
.review__col-two  {
  width: 322px;
  max-width: 100%;
  margin: 0 72px 0 63px;
}
.review__col-three {
  width: 360px;
}
.col__three-text p:not(:last-child){
  margin-bottom: 20px;
}
.col__text-up {
  font-size: 12px;
  font-family: var(--font-wblack);
  color: var(--black-color);
}
.col__text-up span {
  font-size: 30px;
  color: var(--blue-color);
}
.col__text-main {
  font-size: 50px;
  font-family: var(--font-wblack);
  color: var(--black-color);
  line-height: 100%;
  letter-spacing: 0.01em;
}
.col__text-dream, .col__text-social {
  font-size: 12px;
  line-height: 100%;
  font-family: var(--font-wbold);
  /* identical to box height, or 12px */
  letter-spacing: 0.01em;
}
.review p {
  color: var(--black-color);
}
.col__text-text {
  font-size: 12px;
  font-weight: var(--font-regular);
}
.col__text p:nth-child(2) {
  margin: 29px 0 24px;
}
.col__text p:nth-child(4) {
  margin: 29px 0 24px;
}
.col__text-img {
  display: flex;
  gap: 13px;
  margin: 15px 0 0;
}
.col__text-img img:hover {
  transform: scale(1.4);
  transition: transform .1s ease;
}
.col__three-text {
  margin-top: 24px;
}

.col__three-title {
  position: relative;
}
.col__three-title::after {
  content: '';
  background: var(--blue-color);
  width: 65px;
  display: block;
  height: 1px;
  margin-top: 10px;
}

/* ===============  CONTACT  ================== */

.contact__content {
  margin: 50px 0 0;
  display: flex;
}
.contact__col-first {
  width: 271px;
  max-width: 100%;
}
.contact__col-second {
  width: 409px;
  max-width: 100%;
}
.contact__col-third {
  width: 490px;
  max-width: 100%;
}
.contact__col-first_name {
  margin: 15px 0 0;
  color: var(--blue-color);
  font-size: 15px;
  font-weight: var(--font-black);
  text-align: center;
}
.contact__col-first_name span {
  color: var(--black-color);
  font-family: var(--font-wblack);
}

.name-title {
  font-size: 15px;
  font-family: var(--font-wblack);
  color: var(--black-color);
  font-style: normal;
}

.input-text {
  border: 1px solid var(--blue-color);
  border-radius: 50px;
  padding: 14px 0;
  margin: 10px 0 24px;
  width: 310px;

}
.input-text a {
  font-style: normal;
  color: var(--blue-color);
  font-family: var(--font-wbold);
}
.input-text a:nth-child(2) {
  font-size: 12px;
}
.col__second-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.contact__col-second {
  margin: 0 111px 0 119px;

}
.input-text_mail {
  font-size: 12px;
}

.col__second-social {
  margin: 15px 0 27px;
  display: flex;
  gap: 13px;
}
.col__second-social img:hover {
  transform: scale(1.4);
  transition: transform .1s ease;
}
.col__second-text {
  text-align: start;
  font-size: 12px;
  font-style: normal;
  margin: 0 0 15px;
}

.form {
  width: 490px;
  border-radius: 50px;
  border: 1px solid var(--blue-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: var(--white-color);
}
.form__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 23px 0 29px;
}
.form__title {
  font-size: 15px;
  text-align: center;
  background: var(--blue-color);
  padding: 17px 0 16px;
  color: var(--white-color);
  font-family: var(--font-wblack);
  width: 100%;
  border-radius: 50px 50px 0 0;
  /* border: 12px solid var(--blue-color); */
  /* outline: 1px solid var(--blue-color); */
}
.check__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.check {
  padding-left: 40px;
  color: var(--black-color);
  font-size: 12px;
}
.check__box {
  position: absolute;
  width: 11px;
  height: 11px;
  margin-left: -16px;
  overflow: hidden;
  border-radius: 50%;
  border: 0.5px solid var(--black-color);
  position: absolute;
  left: 0;
}
.check__input {
  border: 1px solid #040404;
  width: 11px;
  height: 11px;
  border-radius: 100%;
  margin: 0 0 0 -20px;
  appearance: none;
  /* background-color: var(--blue-color); */
}
.check__input:checked {
  background: var(--blue-color);
  border: none;
}
.choose__group {
  position: relative;
  width: 165px;
}
/* .check__input:checked + .check__box {
  border: none;
  background: #4944FF;
} */
/* .check__input:focus + .check__box {
  box-shadow:
  0 0 0 0.1em #4A90E2,  
  0 0 0 0.2em #885FFF;
} */
/* .check__input:disabled + .check__box {
  box-shadow: 0 0 0 0.1em #9B9B9B;
} */
.check  {
  display: flex;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  align-items: center;
}
.check__input:checked:disabled + .check__box {
  background-color: #9B9B9B;
}
.choose__group-wrapper {
  display: flex;  
  align-items: center;
}
.contact__form-choose p {
  text-align: center;
  margin: 0 0 25px;
}
.label {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 14px;
}

.input {
  text-align: center;
}
.form__btn {
  padding: 17px 66px 17px;
  font-size: 18px;
  margin: 46px 0 8px;
  font-family: var(--font-wblack);
}
.form__politic {
  font-size: 12px;
  text-align: center;
  width: 330px;
  margin: 8px 0 0;
  color: var(--black-color);
}

.form__politic a {
  text-decoration: underline;
}
.input::placeholder {
  color: rgba(0, 0, 0, 0.2);
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
}

/*  ==========  FOOTER ================ */


.footer {
  margin: 80px 0 0;
  padding: 10px 0 21px;
  background: var(--black-color);
}

.footer__container nav ul li a {
  color: white;
}

.footer__text p {
  font-size: 12px;
  color: var(--white-color);
}
.footer__social {
  display: flex;
  justify-content: center;
  gap: 23px;
  margin: 0 0 78px;
}
.footer__social img:hover {
  transform: scale(1.4);
  transition: transform .1s ease;
}
.footer__social img {
  width: 44px;
  height: 44px;
}
.footer__text {
  text-align: center;
}
.footer__text p {
  margin-bottom: 7px;
}
.popup__wrapper {
  display: none;
  width: 100%;
  height: 102%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background:  rgba(4, 4, 4, .5);
  /* -webkit-backdrop-filter: blur(2.5px); */
  /* backdrop-filter: blur(2.5px); */
  z-index: 31;
}
.home__popup-wrapper {
  display: none;
}
.home__popup-wrapper.active {
  display: block;
  position: fixed;
}
.popup__wrapper.close {
  display: none;
}

.popup {
  position: fixed;
  width: 648px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
}
.popup p:nth-child(1) {
  text-transform: uppercase;
  font-size: 20px;
  padding: 26px 0;
}
.popup img {
  position: absolute;
  top: 28px;
  right: 28px;
  cursor: pointer;
}
.popup .input-text {
  width: 387px;
}
.popup .form__btn {
  margin: 10px 0 38px;
  width: 100%;
}

.night .header__link,
.night .home__title,
.night .home__subtitle,
.night .list__drop-link,
.night .swiper-slide-text p,
.night .review p,
.night .contact__col-second p,
.night .input-text a,
.night .contact__col-first_name span,
.night .project__title-title {
  color: var(--white-color);
}

.night .about__wrapper,
.night .footer,
.night .about__wrapper::after {
  background: var(--black-color);
  background-color: var(--white-color);
}

.night .about__line {
  background: var(--black-color);
}
.night .about__item-text,
.night .footer p,
.night .footer a {
  color: var(--black-color);
}

.night-logo {
  display: none;
}

.night .night-logo {
  display: block;
}
.night .light-logo {
  display: none;
}
.night .project___title-text.project___title-text {
  color: rgba(255, 255, 255, 0.2);
}

.night .swiper-pagination-bullet {
  background-color: #fff;
}
.night .swiper-pagination-bullet-active {
  background: var(--blue-color);
}




.service__popup-wrapper {
  display: block;
  position: fixed;
  width: 100%;
  inset: 0;
  background:  rgba(4, 4, 4, .5);
  /* -webkit-backdrop-filter: blur(2.5px); */
  /* backdrop-filter: blur(2.5px); */
  z-index: 2;
}
.service__popup-wrapper .popup p:nth-child(1) {
  padding: 20px 0;
}
.service__popup-wrapper.active {
  display: block;
}

.comment__popup-wrapper {
  display: none;
}
.comment__popup-wrapper.active {
  display: block;
  position: fixed;
}
.comment__popup-wrapper .form__btn {
  margin: 0 0 15px;
}
.comment__popup-wrapper .popup p:nth-child(1) {
  padding: 16px 0;
}
.service__popup-wrapper {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 32;
}
.service__popup-wrapper_start, .service__popup-wrapper_bisuness, .service__popup-wrapper_premium {
  display: none;
}
.service__popup-wrapper_start.active, .service__popup-wrapper_bisuness.active, .service__popup-wrapper_premium.active {
  display: block;
} 
#file-input {
  display: none;
}
.file-choose {
  position: relative;
  display: flex;  
  align-items: center;
  justify-content: center;
  margin: 10px 0 28px;
}
.file-choose label {
  font-size: 8px;
  font-family: var(--font-regular);
  cursor: pointer;
}
.file-choose label::before {
  content: url('../img/file.svg');
  display: block;
  width: 14px;
  height: 8px;
  z-index: 1;
  position: absolute;
  left: -15px;
  bottom: 4px;
}

/* .file-wrapper {
  display: flex;
  width: 86px;
  height: 17px;
  font-size: 8px;
  font-family: var(--font-regular);
} */


.site__popup-wrapper {
  display: none;
}
.site__popup-wrapper.active {
  
}
.swiper-slide-text__title  {
  /* font-weight: 600; */
  font-family: var(--font-wblack);
  color: var(--black-color);
  font-size: 25px;
}

.project__popup-wrapper {
  display: none;
}
.project__popup-wrapper.active {
  display: block;
  position: fixed;
}

.logo__popup-wrapper {
  display: none;
}
.logo__popup-wrapper.active {
  display: block;
  position: fixed;
}

.ceo__popup-wrapper {
  display: none;
}
.ceo__popup-wrapper.active {
  display: block;
  position: fixed;
}



/* PORTFOLIO PAGE */

.potfolio__header {
  padding: 30px 0 0;
}
.potrfolio__page-title {
  margin: 62px 0 75px;
}
.portfolio__page-swiper {
  position: relative;
  overflow: hidden;
  width: 1530px;
  height: 640px;
  max-width: 100%;
}

.portfolio__page-swiper-wrapper {
  max-width: 100%;
  height: 100%;
  display: flex;
}

.portfolio__page-slide {
  flex-shrink: 0;
  max-height: 736px;
  object-fit: contain;
  overflow: scroll;
  border-radius: 0;
}



.portfolio__page-slide img {
  /* height: 8893px; */
  width: 100%;
  object-fit: contain;
}

.simplebar-scrollbar::before {
  background-color: #4944FF;

}
.simplebar-scrollbar {

  border-radius: 50px;
  background-color: #4944FF;
}
.simplebar-track, .simplebar-vertical {
  background: rgba(4, 4, 4, 0.2);
  margin: 30px 15px 15px 0;
  max-height: 667px;
  border-radius: 50px;

}
.portfolio__page-btn {
  display: flex;
  justify-content: center;
  width: 230px;
  padding: 16px 0;
  margin-left: auto;
}

.portfolio__page-link  {
  width: 250px;
  margin: 43px auto 73px;
  display: flex;
  align-items: center;
  gap: 8px;
  text-align: center;
}
.portfolio__page-link img {
  transform: rotate(-90deg);
}
.portfolio__page-link  a{
  color: #fff;
  font-weight: 700;
  font-size: 18px;
}

.prompt {
  display: none;
}

@media (max-width: 1714px) {
  .portfolio__page-btn {
    margin: 30px auto 0;
  }
  .portfolio-page-button-prev {
    left: 0;
  }
  .portfolio-page-button-prev,
  .portfolio-page-button-next {
    bottom: -15px;
    right: 0;
    margin-top: auto;
  }
}

@media (max-width: 480px) {
  .simplebar-track.simplebar-vertical  {
    height: 230px;
    visibility: visible;
  }
  .simplebar-scrollbar {
    display: block;
  }
  .portfolio__page-swiper-wrapper {
    /* display: flex; */
    /* flex-direction: column; */
  }
  .portfolio__page-swiper {
    width: 600px;
    height: 284px;
  }
  .potfolio__main {
    margin: 50px 0 0;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    transform: rotate(90deg);
  }
  .portfolio__page-link {
    left: 700px;
    top: 150px;
    position: absolute;
    transform: rotate(-90deg);
  }
  .potfolio__header {
    position: relative;
    left: 130px;
    top: 130px;
    /* padding-top: 0;
    margin: 90px 0 auto 100px; */
    transform: rotate(90deg);
  }
  .potrfolio__page-title {
    /* display: flex; */
    /* flex-direction: column; */
    /* max-width: 100%; */
  }
  .potrfolio__page-title .project___title-text {
    font-size: 25px;
  }
  .potrfolio__page-title h2 {
    font-size: 18px;
    bottom: -5px;
  }
  .portfolio-page-button-prev, .portfolio-page-button-next {
    /* bottom: 100px; */
    margin-top:0;
    top: 241px;

  }
  .portfolio-page-button-prev {
    left: -70px;
  }
  .portfolio-page-button-next {
    right: 37px;
  }
  .portfolio__page-wrapper {
    width: 700px;
    margin: 0 0 0 100px;
  }
  .swiper-pagination  {
    display: none;
  }
  .portfolio__page-btn {
    font-size: 14px;
    padding: 6px 36px;
    margin: 30px 350px 0 358px;
    width: 150px;
  }
  .prompt {
    position: relative;
    top: 30px;
    color: #fff;
    display: block;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
  }
  .swiper-service_comment {
    margin: 0;
  }
  .portfolio__page-link {
    margin: auto;
    padding-left: 50px;
  }
  .portfolio__page-link a {
    font-size: 12px;
    text-align: center;
  }
  .potrfolio__page-title {
    margin: 20px 0 15px;
  }
}