/*=============== GOOGLE FONTS ===============*/
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
/*=============== VARIABLES CSS ===============*/
@font-face {
  font-family: 'Lato Regular';
  src: url('../fonts/lato-regular.ttf');
}
@font-face {
  font-family: 'Lato Bold';
  src: url('../fonts/lato-bold.ttf');
}
@font-face {
  font-family: 'Lato Black';
  src: url('../fonts/lato-black.ttf');
}
:root {
  --white-color: #ffffff;
  --black-color: #040404;
  --blue-color: #4944FF;
  --black-color-lighten: rgba(4, 4, 4, 0.2);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Lato', sans-serif;
  --font-regular: 'Lato Regular';
  --font-wbold: 'Lato Bold';
  --font-wblack: 'Lato Black';
  --biggest-font-size: 70px;
  --h1-font-size: 50px;
  --h2-font-size: 20px;
  --h3-font-size: 1rem;
  --normal-font-size: 16px;
  --small-font-size: .813rem;
  --smaller-font-size: 14px;
  --very-small: 12px

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-bold: 700;
  --font-black: 900;
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Responsive typography */
@media screen and (min-width: 1024px) {
  :root {
    /* --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem; */
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-regular);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--white-color);
  color: var(--white-color);
  transition: .3s; 
}
body.night {
  background-color: var(--black-color);
  color: var(--black-color);
}
h1 {
  color: var(--black-color);
  font-size: var(--h1-font-size);
  font-weight: var(--font-black);
  font-family: var(--font-wblack);
}
h2 {
  font-family: var(--font-wblack);
  font-size: var(--h2-font-size);
  font-weight: var(--font-black);
  color: var(--black-color);
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--black-color);
}

img {
  max-width: 100%;
  height: auto;
}

input,
button {
  font-family: var(--body-font);
  outline: none;
  border: none;
}

/*=============== THEME ===============*/


/*========== Variables Dark theme ==========*/


/*========== 
    Color changes in some parts of 
    the website, in dark theme 
==========*/


/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1564px;
  margin: auto;
  padding: 0 15px;
}


.section {
  margin: 80px auto 0;
}


.main {
  overflow: hidden; /* For the animations ScrollReveal*/
}

/* =================   HEADER =================== */
.header {
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 152px;
}
.header__nav {
  position: relative;
}
.header__left {
  display: flex;
  align-items: center;
  gap: 111px;
}
.header__ul {
  margin: 0 0 2px;
  width: 717px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  
}
.header__list-drop {
  margin: 8px 3px 0;
  position: absolute;
  display: none;
}
.header__link-drop.drop ~ .header__list-drop{
  display: block;
}
.header__link-drop img.rotate {
  transform: rotate(180deg);
}


.list__drop-img {
  display: none;
  gap: 13px;
}
.list__drop-link {
  display: block;
  margin-bottom: 9px;
}

.header__link-drop {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.header__link-drop img {
  width: 12px;
  height: 6px;
  transform: rotate(0deg);
}
.header__link {
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0.05em;
  line-height: 19px;
}
.header__droplist-img_dop {
  width: 150px;
  margin: 10px -14px 0;
}
.header__droplist-img_dop img{
  /* display: flex; */
  margin-right: 13px;
  transition: transform .1s ease;
}
.header__droplist-img_dop img:hover {
  transform: scale(1.4);
  transition: transform .1s ease;
}
.header__switch {
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 60px;
  height: 32px;
  padding: 0 0 0 1px;
  background-color: var(--blue-color);
  border-radius: 50px;
  
}
.header__switch.switch {
  justify-content: flex-end;
}



/* ==================      HOME ========================= */

.home__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 149px 0 0;
}
.home__text {
  width: 716px;
  max-width: 100%;
}

.home__title {
  text-transform: uppercase;
  line-height: 60px;
}

.home__subtitle {
  text-transform: lowercase;
  font-size: var(--normal-font-size);
  line-height: 19px;
  margin: 25px 0 30px;
  color: var(--black-color);
}
.home__subtitle span {
  text-transform: uppercase;
}
.home__img {
  /* overflow: hidden; */
  width: 670px;
  height: 418px;
}
.home__img::after {
  content: url(/assets/img/homedecor3.svg);
  position: absolute;
  right: 0;
  top: 11%;
  z-index: -1;
}
.btn {
  cursor: pointer;
  background: var(--blue-color);
  color: var(--white-color);
  font-family: var(--font-wblack);
  text-transform: uppercase;
  font-size: 22px;
  padding: 27px 41px;
  border-radius: 50px;
}

.home__btn {
  font-size: 22px;
  width: 300px;
  padding: 27px 0;
  line-height: 26px;
  font-family: var(--font-wblack);
}

.swiper-home {
  position: relative;
  overflow: hidden;
  top: -44px;
}
.swiper-wrapper-home{
  width: 100%;
  height: 100%; 
  display: flex;
  /* overflow: hidden; */
}
.home-slide.home-slide {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  /* height: 418px; */
  background: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* flex-shrink: 0; */
}


/* ====================  ABOUT ======================= */

.about__wrapper{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  background: var(--black-color);
  padding: 80px 0 91px;
  margin: 50px 0 0;
}
.about__wrapper::after {
  content: '';
  display: block;
  position: absolute;
  width: 100vw;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  background: var(--black-color);
  z-index: -1;
}
.about__line {
  width: 2px;
  opacity: .5;
  height: 60px;
  background: rgba(255, 255, 255, 1);
  margin: 0 34px 0;
}
.about__item:nth-child(1) {
  width: 397px;
}
.about__item:nth-child(2) {
  width: 397px;
}
.about__item p {
  font-size: 25px;
  text-align: center;
  color: var(--white-color);
  text-transform: uppercase;
  font-family: var(--font-wblack);
}


/* ===========  PROJECT ================ */
.project {
  margin: 0 auto 80px;
}
.project__wrapper {
  margin: 80px 0 0;
}
.swiper-graph {
  position: relative;
  display: flex;
  overflow: hidden;
  width: 100%;
  /* height: 623px; */
  margin: 50px 0 0;
}
.swiper-graph-title {
  margin: 44px 0 0;
}
.swiper-wrapper-graph {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
}
.swiper-wrapper-graph .swiper-slide {
  background: none;
}
.swiper-slide img {
  height: 100%;
  width: 100%;
}
.swiper-web {
  position: relative;
  display: flex;
  overflow: hidden;
  /* width: 100%; */
  /* height: 623px; */
  margin: 47px 0 0;
}
.swiper-wrapper-web {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
}
.swiper-slide {
  flex-shrink: 0;
  width: 490px;
  max-width: 100%;
  /* height: 0px; */
  border-radius: 50px;
}
.swiper-slide img {
  height: 100%;
}

.swiper-pagination-bullet {
  color: #D9D9D9;
}
.swiper-pagination-bullet-active {
  background: var(--blue-color);
}
.project__swiper-web {
  position: relative;
}
.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
  /* bottom: 0; */
}
.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 0;
}
.swiper-button-prev-graph,
.swiper-button-next-graph {
  content: url('/assets/img/arrow.svg');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 3px 13px;
  background: var(--blue-color);
  border-radius: 100%;
  cursor: pointer;
  width:45px;
  height: 45px;
  top: 50%;
}
.swiper-button-prev-graph {
  position: absolute;
  left: -70px;
  z-index: 1;
  transform: rotate(180deg);
}
.swiper-button-next-graph {
  position: absolute;
  right: -70px;
  z-index: 1;
}
.swiper-button-prev {
  position: absolute;
  left: -78px;
  z-index: 1;
  transform: rotate(180deg);
  user-select: none;
}
.swiper-button-next-graph, .swiper-button-prev-graph {
  user-select: none;
}
.dev-btn-next, .dev-btn-prev {
  user-select: none;
}
.graph-btn-next,.graph-btn-prev {
  position: absolute;
  user-select: none;
}
.graph-btn-next {
  margin-left: auto;
}
.graph-btn-prev {
  margin-right: auto  ;
}

.swiper-slide-graph{
  display: flex;
  width: 100%;
  height: 100%;
}
.swiper-slide-graph:nth-child(5) .swiper-slide-text__subtitle {
  margin: 20px 0 12px;
}
.comment-button-next, .comment-button-prev {
  user-select: none;
}
.swiper-button-next {
  position: absolute;
  z-index: 1;
  right: -78px;
  user-select: none;
}
.swiper-button-prev, .swiper-button-next {
  content: url('/assets/img/arrow.svg');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 3px 13px;
  background: var(--blue-color);
  border-radius: 100%;
  width:45px;
  height: 45px;
  z-index: 1;
}
.project__title {
  position: relative;
}
.project___title-text.project___title-text {
  color: var(--black-color-lighten);
  font-size: var(--biggest-font-size);
  font-family: var(--font-wblack);
}
.project__title-title {
  font-size: var(--h2-font-size);
  color: var(--black-color);
  font-weight: var(--font-black);
  position: absolute;
  bottom: 6px;
  text-transform: uppercase;
}


/* ==============  SERVICE ==================== */

.service {
  position: relative;
  margin: -37px auto;
}

.service__complex-items {
  width: 100%;
  height: 100%;
}
.service__items-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}
.service__item{
  flex-shrink: 0;
}
.complex-btn-prev, .complex-btn-next {
  display: none;
  /* opacity: 0; */
}
.service__items {
  display: flex;
  margin: 50px 0 0;
}
.service__item {
  /* position: relative; */
  width: 490px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 50px 50px 0 0;
}
.service__item-inner {
  position: relative;
  background: url(/assets/img/s1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 50px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 50px 50px 0 0;
  
}
.service__item-inner::before {
  content: '';
  position: absolute;
  display: block;
  inset: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.72) 0%, rgba(0, 0, 0, 0) 100%);
  border-radius: 50px;
}
.service__item-inner2 {
  background: url(/assets/img/s2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.service__item-inner3 {
  background: url(/assets/img/s3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.service__item-title {
  font-size: 25px;
  text-align: center;
  font-family: var(--font-wblack);
  color: var(--white-color);
  z-index: 1;
}
.service__item-textitem {
  margin: 45px 0 109px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 1;

}
.service__item-textitem-first {
  margin: 45px 0 148px;
}
.service__item-textitem p {
  font-size: 20px;
  color: var(--white-color);
  font-weight: var(--font-regular);
}
.service__item-price {
  color: var(--white-color);
  font-family: var(--font-wblack);
  text-align: end;
  font-size: 20px;
}

.service__item-btn {  
  font-size: 22px;
  font-family: var(--font-wblack);
  border-radius: 0 0 50px 50px;

}

.swiper-service {
  /* overflow: hidden; */
  width: 100%;
  margin: 55px 0 0;
}

.swiper-wrapper-service-dev {
  display: flex;
  width: 100%;
}
.swiper-service_graph {
  width: 100%;
  overflow: hidden;
}
.swiper-wrapper-service_graph {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 50px 0 0;
}
.swiper-slide-service-graph {
  flex-shrink: 0;
}
.swiper-slide-service-graph:nth-child(5) .swiper-slide-text__subtitle{
  margin: 20px 0 12px;
}

.swiper-wrapper-service_graph .swiper-slide {
}
.swiper-wrapper-service-dev .swiper-slide {
  flex-shrink: 0;
}
.swiper-pagination-service-dev.swiper-pagination-service-dev {
  position: inherit; 
  margin: 32px 0 0;
}
.swiper-pagination-service-graph.swiper-pagination-service-graph { 
  position: relative;
  margin: 32px 0 0;
}
.swiper-service-dev {
  overflow: hidden;
  position: relative;
  display: flex;
  width: 100%;
  margin: 55px 0 0;
}
.ceo {
  display: flex;
  margin: 55px 0 0;
}
.swiper-wrapper-service {
  display: flex;
  width: 100%;
  /* height: 348px; */
}

.swiper-slide-service {
  display: flex;
}
.swiper-slide-text {
  width: 490px;
}
.swiper-slide-img img{
  width: 100%;
}

.swiper-slide-img {
  margin: 0 30px 0 0;
}
 
.swiper-slide-text__subtitle {
  text-transform: uppercase;
  font-size: 14px;
  color: var(--black-color);
  margin: 20px 0 63px;
}
.swiper-slide-text__items p{
  color: var(--black-color);
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.swiper-slide-text__items p::before {
 content: '';
 background-color: #4944FF;
 display: block;
 width: 10px;
 height: 10px;
 border-radius: 100%; 
}
.swiper-slide-text__items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin:  0 0 38px;
}
.swiper-slide-down {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.swiper-slide-price {
  font-family: var(--font-wblack);
  font-size: 25px;
  color: var(--black-color);
}
.swiper-slide-btn {
  padding: 16px 68px;
  font-size: 18px;
  font-family: var(--font-wblack);
}
.project__swiper-service {
  margin: 80px 0 0;
}

.comment-slide {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
  background: #F7F7F7;
  padding: 140px 67px 107px;  
  max-width: 490px;
}
.swiper-slide-active.comment-slide {
  padding: 97px 67px 107px;
  
}
.swiper-slide-active.comment-slide {
  background: #5C4FB6;
}
.comment-slide p {
  color: var(--black-color);
  font-size: 10px;
  text-align: center;

}
.comment {
  display: flex;
  flex-direction: column;
  margin: 40px auto 0;
}
#comment  {
  max-width: 100%;
  max-height: 74px;
  padding: 13px 34px;
  overflow: hidden;
  resize: none;
}
textarea:focus {
  border: none;
  outline: 1px solid var(--blue-color);
}

.comment__btn {
  display: flex;
  align-self: flex-end;
  font-size: 18px;
  padding: 16px ;
  display: block;
  text-align: center;
  max-width: 230px;
  margin: 50px 0 0;
}
.swiper-slide-active.comment-slide p {
  color: var(--white-color);
}

.name {
  font-size: 10px;
  position: relative;
  font-family: var(--font-wbold);
}

.comment-slide-name {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 7px 0 0;
}
.comment-slide-line {
  display: block;
  width: 23px;
  height: 1px;
  background-color: var(--black-color);
}
.swiper-slide-active .comment-slide-line {
  background-color: var(--white-color);
}
.slide-text {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 14px;
  margin: 33px 0 0;
}
.comment-slide img {
  width: 144px;
  height: 144px;
  margin: 0 0 83px;
}
.swiper-slide-active.comment-slide img {
  width: 230px;
  height: 230px;
  margin: 0 0 40px;
  
}

.swiper-service_comment  {
  width: 100%;
  position: relative;
  display: flex;
  overflow: hidden;
  margin: 50px 0 20px;
}
.swiper-wrapper-service_comment {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
}
.comment-slide {
  flex-shrink: 0;
}
.webstore.webstore {
  font-size: 15px ;
  font-family: var(--font-wbold);
}
/* ==============  REVIEW ======================= */

.review__content {
  display: flex;
  margin: 50px 0 0;
}
.review__col-one {
  width: 714px;
  max-width: 100%;
}
.review__col-one img{
  width: 714px;
}
.review__col-two  {
  max-width: 322px;
  /* max-width: 100%; */
  margin: 0 72px 0 63px;
}
.review__col-three {
  max-width: 360px;
}
.col__three-text p:not(:last-child){
  margin-bottom: 20px;
}
.col__text-up {
  font-size: 12px;
  font-family: var(--font-wblack);
  color: var(--black-color);
}
.col__text-up span {
  font-size: 30px;
  color: var(--blue-color);
}
.col__text-main {
  font-size: 50px;
  font-family: var(--font-wblack);
  color: var(--black-color);
  line-height: 100%;
  letter-spacing: 0.01em;
}
.col__text-dream, .col__text-social {
  font-size: 12px;
  line-height: 100%;
  font-family: var(--font-wbold);
  /* identical to box height, or 12px */
  letter-spacing: 0.01em;
}
.review p {
  color: var(--black-color);
}
.col__text-text {
  font-size: 12px;
  font-weight: var(--font-regular);
}
.col__text p:nth-child(2) {
  margin: 29px 0 24px;
}
.col__text p:nth-child(4) {
  margin: 29px 0 24px;
}
.col__text-img {
  display: flex;
  gap: 13px;
  margin: 15px 0 0;
}
.col__text-img img:hover {
  transform: scale(1.4);
  transition: transform .1s ease;
}
.col__three-text {
  margin-top: 24px;
}
.review__col-wrapper {
  display: flex;
}
.col__three-title {
  position: relative;
}
.col__three-title::after {
  content: '';
  background: var(--blue-color);
  width: 65px;
  display: block;
  height: 1px;
  margin-top: 10px;
}
.read-more {
  display: none;
}
/* ===============  CONTACT  ================== */

.contact__content {
  margin: 50px 0 0;
  display: flex;
  /* justify-content: space-between; */
}
.contact__col-first {
  max-width: 271px;
  /* max-width: 100%; */
}
.contact__col-second {
  width: 409px;
  max-width: 100%;
}
.contact__col-third {
  width: 490px;
  max-width: 100%;
}
.contact__col-first_name {
  margin: 15px 0 0;
  color: var(--blue-color);
  font-size: 15px;
  font-weight: var(--font-black);
  text-align: center;
  font-family: var(--font-wbold);
}
.contact__col-first_name span {
  color: var(--black-color);
  font-family: var(--font-wblack);
}
.contact__content-left{
  display: flex;
}
.col__second-item.col__second-item-mb {
  display: none;
}
.name-title {
  font-size: 15px;
  font-family: var(--font-wblack);
  color: var(--black-color);
  font-style: normal;
}

.input-text {
  border: 1px solid var(--blue-color);
  border-radius: 50px;
  padding: 14px 0;
  margin: 10px 0 24px;
  width: 310px;
  max-width: 100%;
}
.input-text a {
  font-style: normal;
  color: var(--blue-color);
  font-family: var(--font-wbold);
}
.input-text a:nth-child(2) {
  font-size: 12px;
}
.col__second-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  color: var(--black-color);
}
.contact__col-second {
  margin: 0 111px 0 119px;

}
.input-text_mail {
  font-size: 12px;
}

.col__second-social {
  margin: 15px 0 27px;
  display: flex;
  gap: 13px;
}
.col__second-social img:hover {
  transform: scale(1.4);
  transition: transform .1s ease;
}
.col__second-text {
  text-align: start;
  font-size: 12px;
  font-style: normal;
  margin: 0 0 15px;
}
.contact__form-choose {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form {
  width: 490px;
  max-width: 100%;
  border-radius: 50px;
  border: 1px solid var(--blue-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: var(--white-color);
}
.form__wrapper {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 23px 0 29px;
  padding: 0 40px;
}
.popup__header {
  position: relative;
  display: flex;
  ;align-items: center;
  justify-content: end;
  gap: 10px;
  width: 100%;
  border-radius: 50px 50px 0 0;
  outline: 1px solid var(--blue-color);
  background-color: var(--blue-color);
  text-align: center;
  padding: 28px 28px 28px 28px;
  margin: 0 25px;
}
.form__title {
  font-size: 15px;
  font-weight: 900;
  font-size: 15px;
  line-height: 24px;
}
.text__popup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  background: var(--blue-color);
  padding: 0 28px 0 15%;
  color: var(--white-color);
  font-family: var(--font-wblack);
  width: 100%;
  border-radius: 50px 50px 0 0;
  gap: 10px;
}
.choose label {
  color: var(--black-color);
  font-weight: 900;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
}
.choose {
  display: flex;
  align-items: center;
  gap: 5px;
}
.check__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 11px;
  height: 11px;
  display: block;
  border: 1px solid var(--black-color);
  border-radius: 100%;
}
.check__input:checked {
  background-color: var(--blue-color);
  border: none;
  
}
.choose__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  max-width: 300px;
  gap: 28px;
  /* max-width: 100%; */
}

.check  {
  display: flex;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  align-items: center;
}
.choose__group-wrapper {
  display: flex;  
  align-items: center;
  justify-content: center;
}
.contact__form-choose p {
  text-align: center;
  margin: 0 0 25px;
}
.label {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 14px;
  max-width: 100%;
}

.input {
  text-align: center;
  max-width: 100%;
}
.form__btn {
  padding: 17px 66px 17px;
  font-size: 18px;
  margin: 46px 0 8px;
  font-family: var(--font-wblack);
}
.form__politic {
  margin: 0;
  font-size: 12px;
  text-align: center;
  /* width: 330px; */
  margin: 8px 0 0;
  color: var(--black-color);
}

.form__politic a {
  text-decoration: underline;
}
.input::placeholder {
  color: rgba(0, 0, 0, 0.2);
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
}
.contact__col-third .popup__header{
  display: flex;
}
.contact .form .popup__header {
  display: block;
}

/*  ==========  FOOTER ================ */


.footer {
  margin: 80px 0 0;
  padding: 48px 0 21px;
  background: var(--black-color);
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: safe;
}
.footer__left {
  display: flex;
  align-items: center;
  gap: 129px;
}

.footer__container nav ul li a {
  color: white;
}

.footer__text p {
  font-size: 12px;
  color: var(--white-color);
}
.footer__social {
  display: flex;
  justify-content: center;
  gap: 23px;
  margin: 0 0 78px;
}
.footer__social img:hover {
  transform: scale(1.4);
  transition: transform .1s ease;
}
.footer__social img {
  width: 44px;
  height: 44px;
}
.footer__text {
  text-align: center;
}
.footer__text p {
  margin-bottom: 7px;
}
.popup__wrapper {
  display: none;
  width: 100%;
  height: 102%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background:  rgba(4, 4, 4, .5);
  /* -webkit-backdrop-filter: blur(2.5px); */
  /* backdrop-filter: blur(2.5px); */
  z-index: 31;
}
.home__popup-wrapper {
  display: none;
}
.home__popup-wrapper.active {
  display: block;
  position: fixed;
}
.popup__wrapper.close {
  display: none;
}
.wrapper-popup {
  position: relative;
  /* inset: 0; */
  width: 100%;
  height: 100vh;
  z-index: -1;
}
.popup {
  position: fixed;
  width: 648px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
}
.popup p:nth-child(1) {
  text-transform: uppercase;
  font-size: 20px;
  /* padding: 26px 0; */
}
.popup img {
  /* position: absolute; */
  top: 28px;
  right: 28px;
  cursor: pointer;
  width: 29px;
  height: 29px;
}
.popup .input-text {
  max-width: 100%;
  width: 387px;
}
.popup .form__btn {
  margin: 10px 0 38px;
  max-width: 100%;
  width: 387px;
  display: flex;
  justify-content: center;
}

.night .header__link,
.night .home__title,
.night .home__subtitle,
.night .list__drop-link,
.night .swiper-slide-text p,
.night .review p,
.night .contact__col-second p,
.night .input-text a,
.night .contact__col-first_name span,
.night .project__title-title {
  color: var(--white-color);
}

.night .about__wrapper,
.night .footer,
.night .about__wrapper::after {
  background: var(--black-color);
  background-color: var(--white-color);
}

.night .about__line {
  background: var(--black-color);
}
.night .about__item-text,
.night .footer p,
.night .footer a {
  color: var(--black-color);
}

.night-logo {
  display: none;
}

.night .night-logo {
  display: block;
}
.night .light-logo {
  display: none;
}
.night .project___title-text.project___title-text {
  color: rgba(255, 255, 255, 0.2);
}

.night .swiper-pagination-bullet {
  background-color: #fff;
}
.night .swiper-pagination-bullet-active {
  background: var(--blue-color);
}



.service__popup-wrapper {

}
.service__popup-wrapper .popup p:nth-child(1) {
  padding: 20px 0;
}
.service__popup-wrapper.active {
  
}

.comment__popup-wrapper {
  display: none;
}
.comment__popup-wrapper.active {
  display: block;
  position: fixed;
}
.comment__popup-wrapper .form__btn {
  margin: 0 0 15px;
}
.comment__popup-wrapper .popup p:nth-child(1) {
  padding: 16px 0;
}
.service__popup-wrapper {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 32;
}
.service__popup-wrapper_start, .service__popup-wrapper_bisuness, .service__popup-wrapper_premium {
  display: none;
}
.service__popup-wrapper_start {
  /* position: fixed; */
  display: flex;
  justify-content: center;
}
.service__popup-wrapper_start.active, .service__popup-wrapper_bisuness.active, .service__popup-wrapper_premium.active {
  display: block;
} 
#file-input {
  display: none;
}
.file-choose {
  position: relative;
  display: flex;  
  align-items: center;
  justify-content: center;
  margin: 10px 0 28px;
}
.file-choose label {
  font-size: 8px;
  font-family: var(--font-regular);
  cursor: pointer;
}
.file-choose label::before {
  content: url('../img/file.svg');
  display: block;
  width: 14px;
  height: 8px;
  z-index: 1;
  position: absolute;
  left: -15px;
  bottom: 4px;
}

/* .file-wrapper {
  display: flex;
  width: 86px;
  height: 17px;
  font-size: 8px;
  font-family: var(--font-regular);
} */


.site__popup-wrapper {
  display: none;
}
.site__popup-wrapper.active {
  
}
.swiper-slide-text__title  {
  /* font-weight: 600; */
  font-family: var(--font-wblack);
  color: var(--black-color);
  font-size: 25px;
}

.project__popup-wrapper {
  display: none;
}
.project__popup-wrapper.active {
  display: block;
  position: fixed;
}

.logo__popup-wrapper {
  display: none;
}
.logo__popup-wrapper.active {
  display: block;
  position: fixed;
}

.ceo__popup-wrapper {
  display: none;
}
.ceo__popup-wrapper.active {
  display: block;
  position: fixed;
}




/* PORTFOLIO PAGE */

.potfolio__header {
  padding: 30px 0 0;
}
.potrfolio__page-title {
  margin: 62px 0 75px;
}
.portfolio__page-swiper {
  position: relative;
  overflow: hidden;
  width: 1530px;
  height: 640px;
  max-width: 100%;
  display: flex;
}

.portfolio__page-swiper-wrapper {
  /* max-width: 100%; */
  /* height: 100%; */
  display: flex;
}

.portfolio__page-slide {
  flex-shrink: 0;
  max-height: 736px;
  object-fit: contain;
  overflow: scroll;
  border-radius: 0;
}



.portfolio__page-slide img {
  /* height: 8893px; */
  width: 100%;
  object-fit: contain;
}

.simplebar-scrollbar::before {
  background-color: #4944FF;

}
.simplebar-scrollbar {
  left: -3px;
  min-width: 12px;
  border-radius: 50px;
  background-color: #4944FF;
}
.simplebar-track, .simplebar-vertical {
  background: rgba(4, 4, 4, 0.2);
  margin: 30px 15px 15px 0;
  max-height: 667px;
  max-width: 6px;
  border-radius: 50px;
  overflow: visible;
}
.simplebar-track {
  z-index: 2 ;
}
.simplebar-vertical {
  z-index: 2;
}
.portfolio__page-btn {
  display: flex;
  justify-content: center;
  width: 230px;
  padding: 16px 0;
  margin-left: auto;
}

.portfolio__page-link  {
  width: 250px;
  margin: 43px auto 73px;
  display: flex;
  align-items: center;
  gap: 8px;
  text-align: center;
}
.portfolio__page-link img {
  transform: rotate(-90deg);
}
.portfolio__page-link  a{
  color: #fff;
  font-weight: 700;
  font-size: 18px;
}

.prompt {
  display: none;
}

.portfolio__popup-wrapper.active {
  display: block;
  position: fixed;
}
.swiper-pagination-web, .swiper-pagination-graph {
  display: flex;
  justify-content: center;
  margin: 22px auto 0;
}

.swiper-pagination {
  position: relative;
}
.header__logo-mobile {
  display: none;
}

.header__burger {
  display: none;
  flex-direction: column;
  position: fixed;
  right: 15px;
  top: 20px;
  gap: 8px;
  width: 20px;
  height: 20px;
  background: none;
  cursor: pointer;
}
.header__burger  span {
  display: block;
  width: 20px;
  height: 1px;
  color: var(--black-color);
  background: var(--black-color);
  transition: transform .3s ease;
  
}
.header__burger.click  span:nth-child(1) {
  transition: transform .3s ease;
  transform: translate(0, 11px) rotate(45deg);
}
.header__burger.click  span:nth-child(2) {
  transform: translateX(20px);
  opacity: 0;
  transition: transform .3s ease;
}
.header__burger.click  span:nth-child(3) {
  transform: translate(0, -7px) rotate(-45deg);
  transition: transform .3s ease;
  
}
.swiper-help {
  display: none;
}
.swiper-help-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1px;
}
.swiper-help p {
  font-weight: 900;
  font-size: 10px;
  line-height: 12px;
  color: var(--black-color);
}
.swiper-help span {
  font-weight: 400;
  font-size: 5px;
  line-height: 6px;
  color: rgba(0, 0, 0, 0.5);
}
.swiper-pagination .swiper-pagination-service-dev {
  display: flex;
}
.review__mb {
  display: none;
}
@media (max-width: 1714px) {
  .portfolio__page-btn {
    margin: 30px auto 0;
  }
  .portfolio-page-button-prev {
    left: 0;
  }
  .portfolio-page-button-prev,
  .portfolio-page-button-next {
    bottom: -15px;
    right: 0;
    margin-top: auto;
  }
  .swiper-slide img {
    object-fit: contain;
  }
}
@media (max-width: 1740px) {
  .swiper-button-prev, .swiper-button-prev-graph {
    left: -1px;
    top: auto;
  }
  .swiper-button-next {
    right: 0;
    top: auto;
  }
  .swiper-button-next-graph, .swiper-button-prev-graph {
    bottom: -20px;
    right: 0;
    top: auto;
  }
  .swiper-lide {
    width: 226px;
    height: 273px;
  }
}
@media (max-width: 1230px) {
  .header__wrapper {
    align-items: flex-start;
    padding: 15px 0 0;
    max-width: 100%;
  }
  .header__left {
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    gap: 0;
  }
  .header__nav {
    max-width: 100%;
    margin: 20px auto 0 40px;
  }
  .header__switch {
    min-width: 63px;
    margin: 30px 0 0;
  }
  .home__title {
    font-size: 25px;
    line-height: 30px;  
  }
  .home__subtitle {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
  }
  .home__btn {
    font-size: 16px;
    padding: 17px 21px;
    width: 200px;
  }
  .swiper-home {
    width: 354px;
    height: 220px;
  }
  .home__img {
    height: 260px;
    margin-top: 35px;
  }
  
  .home__img::after { 
    content: url('../img/home-small-bg.svg');
  }
  .about__item p {
    font-size: 14px;
    line-height: 17px;
  }
  .about__item:nth-child(1) {
    width: 200px;
  }
  .about__wrapper {
    padding: 41px 0 45px;
  }
  .about__item {
    width: 150px;
  }
  .home__img::after { 
    top: 14%;
  }
  .swiper-slide {
    /* height: auto; */
  }
  .swiper-web, .swiper-graph, .service__items {
    margin: 25px 0 0;
    /* height: 500px; */
  }
}
@media (max-width: 1200px) {  
  .service__item-inner {
    /* width: 226px; */
    padding: 12px 14px 14px 13px;
  }
  .service__item-btn {
    padding: 12px;
    font-size: 14px;
  }
  .service__item-textitem p {
    font-size: 12px;
  }
  .service__item-title {
    font-size: 20px;
  }
  .service__item-price {
    font-size: 14px;
  }
  .service__item-textitem {
    margin: 17px 0 21px;
  }

  .service__item-inner .service__item-textitem {
    margin: 17px 0 52px;
  }
  .service__item-inner2 .service__item-textitem {
    margin: 17px 0 21px;
  }
  .service__item-inner3 .service__item-textitem {
    margin: 17px 0 21px;
  }
  
  .comment-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    background: #F7F7F7;
    padding: 33px 18px 30px;
    border-radius: 30px;
    
  }
  .swiper-slide-active.comment-slide {
    padding: 23px 15px 30px;
    
  }

  .comment-slide p {
    font-size: 8px;
    line-height: 10px;
  }
  .comment__btn {
    display: flex;
    align-self: flex-end;
    font-size: 18px;
    padding: 16px ;
    display: block;
    text-align: center;
    max-width: 230px;
    margin: 50px 0 0;
  }
  .webstore {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.1em;
  }
  .comment-slide img {
    width: 77px;
    height: 77px;
    margin: 0 0 31px;
  }
  .swiper-service_comment {
    margin: 50px 0
    40px;
  }
  .swiper-slide-active.comment-slide img {
    width: 97px;
    height: 97px;
    margin: 0 0 20px;
  }
  .slide-text {
    max-width: 100%;
    margin: 22px 0 0;
  }
  .name::before, .name::after, .swiper-slide-active .name::after, .swiper-slide-active .name::before {
    width: 19px;
  }
  .col__text-main {
    font-size: 14px;
  }
  .col__text-text{
    font-size: 10px;
  }
  .col__text p:nth-child(2) {
    margin: 12px 0 14px;
  }
  .col__text p:nth-child(4) {
    margin: 10px 0;
  }
  .col__three-text {
    margin: 14px 0;
  }
  .col__three-text p:not(:last-child) {
    margin: 0 0 14px;
  }
  .read-more {
    display: flex;
    gap: 6px;
    cursor: pointer;
  }
  .read-more p {
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
  }
  .col__three-text {
    height: 120px;
    overflow: hidden;
    transition: height .3s ease;
    
  }
  .col__three-text.read {
    height:328px;
    transition: height .3s ease;
  }
  .col__three-text.read ~ .read-more img {
    transform: rotate(180deg);
  }
  .review__col-two {
  margin: 0 11px 0 30px; 
  }

  .contact__col-second {
    margin: 0 30px 0 30px;
  }
  .label .input-text {
    margin: 0 0 15px;
  }
  .contact__form-choose p {
    margin: 0 0 15px;
  }
  .form__btn  {
    margin: 26px auto 10px;
    font-size: 14px;
  }
  .contact__col-second {
    width: 209px;
  }
  
  .contact__col-second .input-text {
    padding: 9px 0;
    display: flex;
    justify-content: center;
  }
  .input-text a {
    font-size: 10px;
  }
  .popup__header {
    border-radius: 30px 30px 0 0;
  }
  .form__title {
    font-weight: 900;
    font-size: 12px;
  }
  .form {
    border-radius: 30px;
  }
  .form__btn {
    display: flex;
  }
  .name-title {
    font-size: 12px;
  }
  .contact__col-first_name {
    font-size: 10px;
  }
  .footer__wrapper {
    display: flex;
    height: auto;
    max-width: 100%;
  }
  .footer__left {
    display: flex;
    flex-direction: column;
    /* flex: 1 0 auto; */
    width: 90%;
    height: auto;
    gap: 30px;
    align-items: flex-start;
  }
  .footer__left .header__nav {
    margin: 0 auto 25px 50px;
  }
  .col__text-up{
    font-size: 12px;
  }
  .col__text-up span {
    font-size: 17px;
  }
}



@media (max-width: 980px) {
  .review, .contact {
    margin: 30px auto 0;
  }
  .review__content {
    margin: 20px 0 0;
  }
  .review__col-one {
    width: 354px;
    height: 200px;
  }
  .review__col-one img{
    height: 100%;
  }
  .review__col-three {
    max-width: 181px;
  }
  .review__mb {
    display: block;
  }
  .swiper-slide-text__title {
    font-size: 14px;
  }
  .swiper-slide-text__subtitle {
    font-size: 12px;
  }
  .swiper-slide-price {
    font-size: 18px;
  }
  .swiper-slide-btn {
    font-size: 16px;
    padding: 8px 34px;
  }
  .swiper-slide-img {
    display: flex;
    align-self: baseline;
  }
  .swiper-service {
    margin: 20px 0 0;
  }
  .graph-btn-next,.graph-btn-prev {
    bottom: 0;
  }
  .service__item {
    border-radius: 20px 20px 0 0;
  }
  .header__link {
    font-size: 14px;
  }
  h2 {
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
  }
  .project__swiper-service {
    margin: 40px  0 0;
  }
}
@media (max-width: 770px) {
  .swiper-service-dev {
    margin: 20px 0 0;
  }
  .ceo {
    margin: 20px 0 0;
  }
  .simplebar-scrollbar {
    left: -1px;
    min-width: 6px;
    max-height: 40px;
  }
  .simplebar-track, .simplebar-vertical {
    max-width: 4px;
  }
  .portfolio__page-swiper {
    max-height: 349px;
  }
  .portfolio__page-slide {
    max-height: 300px;
  }
  .portfolio__popup-wrapper .popup p:nth-child(1){
    font-size: 14px;
  }
  .portfolio__popup-wrapper .form__btn {
    font-size: 14px;
  }
  .service__item-inner {
    width: 100%;
    max-width: 226px;
    border-radius: 30px 30px 0 0;
    z-index:  1;
  }
  .service__item-inner::before {
    border-radius: 30px 30px 0 0;
  }
  .service__item-btn {
    border-radius: 0 0 30px 30px;
  }
  .project___title-text.project___title-text {
    font-size: 30px;
  }
  .project__title-title {
    font-size: 16px;
    bottom: -3px;
  }
  .footer__social {
    margin: 0 0 25px;
  }
  .swiper-service-graph.swiper-wrapper-service {
    /* height: 315px; */
  }
  .swiper-slide-img img {
    width: 457px;
  }
  .swiper-slide-text__subtitle {
    margin: 14px 0 37px;
  }
  .swiper-slide-service-graph:nth-child(5) .swiper-slide-text__subtitle{
    margin: 14px 0 12px;
  }
  .swiper-slide-text__items {
    margin: 0 0 12px;
  }
  .swiper-service_graph {
    /* height: 280px; */
  }
  .col__second-text {
    font-weight: 400;
    font-size: 10px;
    line-height: 100%;
  }
  .contact__col-third .popup__header {
    padding: 18px 0;
  }
  .contact__col-third .popup__header p { 
    font-weight: 900;
    font-size: 12px;
    line-height: 14px;
  }
  .form__politic {
    font-weight: 400;
    font-size: 10px;
    line-height: 100%;
  }
  .project__wrapper {
    margin: 30px 0 0;
  }
  .swiper-pagination-web, .swiper-pagination-graph {
    margin: 35px auto 0;
  }
  .swiper-button-prev, .swiper-button-next, .swiper-button-prev-graph, .swiper-button-next-graph {
    bottom: -16px;
  }
  .comment-button-prev, .comment-button-next {
    bottom: auto;
  }
  .swiper-graph-title {
    margin: 60px 0 0;
  }
  .swiper-wrapper-service_graph {
    margin: 20px 0 0;
  }
  .swiper-pagination-service-graph.swiper-pagination-service-graph {
    margin: 0 0 0;
  }
  .project__swiper-service {
    margin: 60px 0 0;
  }
  .input-text {
    width: 250px;
    padding: 10px 0;
  }
  .choose label {
    font-weight: 900;
    font-size: 10px;
    line-height: 12px;
  }
  .swiper-service_comment {
    margin: 20px 0 40px;
  }
  .home__subtitle {
    margin: 14px 0 18px;
  }
  .footer {
    margin: 40px 0 0;
  }
  .col__text-img a img {
    width: 21px;
    height: 21px;
  }
}

@media (max-width: 700px) { 
  .review, .review__content, .contact, .contact__content, .footer {
    margin: 20px auto 0;
  }
  .header {
    height: 70px;
    position: fixed;
    background-color: var(--white-color);
    z-index: 9;
    left: 0;
    right: 0;
  }
  .header__wrapper {
    position: fixed;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 80%;
    top: 0;
    right: 0;
    background-color: var(--white-color);
    z-index: 9;
    padding: 150px 0 0;
    transition: transform .3s ease;
    transform: translateX(100%);
  }
  .header__ul {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
  .header__list {
    margin: 0 0 30px;
  }
  .header__list:nth-child(1) {
    margin: 0 0 20px;
  }
  .header__list:nth-child(5) {
    margin: 0 0 20px;
    
  }
  .header__link.header__link {
    color: var(--black-color);
  }
  .header__logo {
    display: none;
  }
  .header__logo-mobile{
    display: block;
    padding: 15px 0 0;
  }
  .header__burger {
    display: flex;
    z-index: 9;
  }
  .header__wrapper.show {
    transform: translateX(0);
    transition: transform .3s ease;
  }
  .header__list-drop {
    margin: 8px 3px 0;
    position: relative;
    display: none;
    height: 0;
    overflow: hidden;
    text-align: center;
  }
  .header__link-drop.drop ~ .header__list-drop{
    display: block;
    height: 80px;
  }
  .header__droplist-img_dop.header__droplist-img_dop.header__droplist-img_dop {
    height: 50px;
    padding: 7px;
  }
  .header__switch {
    margin: 0;
  }
  
  .home__wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 90px 0 0;
  }
  .home__title {
    font-size: 18px;
    line-height: 22px;
  }
  .home__subtitle {
    font-size: 8px;
    line-height: 10px;
    margin: 10px 0 15px;
  }
  .home__img {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 55px 0 0;
  }
  .swiper-home {
    top: 0;
  }
  .home__btn {
    font-size: 12px;
    line-height: 14px;
    padding: 8px 16px;
    max-width: 160px;
  }
  .home__img::after {
    content: url('../img/bg-mobile.svg');
    top: 21%;
  }
  .about__wrapper {
    flex-direction: column;
  }
  .about__line {
    transform: rotate(90deg);
    height: 38px;
    width: 1px;
  }
  .about__item p {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.05em;
  }
 
  .project__wrapper {
    margin: 15px 0 0;
  }
  .swiper-web {
    margin: 20px 0 0;
  }
  .footer__left {
    display: flex;
  }
  .footer__left .header__logo {
    display: block;
  }
  .footer__left .header__ul {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .footer__left .header__ul .header__link {
    color: var(--white-color);
  }
  .footer__wrapper {
    display: flex;
  }
  .service__complex-items {
    max-width: 203px;
    overflow: hidden;
    margin: 50px auto 0;
  }
  .service__items-wrapper {
    display: flex;
  }
  .service__item {
  }
  .complex-btn-prev, .complex-btn-next {
    display: flex;
    top: 14%;
  }
  .complex-btn-prev {
    left: 15px;
  }
  .complex-btn-next {
    right: 15px;
  }
  .popup {
    width: 420px;
  }
  
  .popup .form__btn {
    margin: 10px 0 15px;
  }
  .review__content {
    flex-direction: column;
  }
  .review__col-wrapper {
    margin: 15px 0 0;
    display: flex;
    gap: 12px;
    justify-content: space-between;
  }
  .review__col-two {
    margin: 0;
  }
 
  .review__col-two {
    max-width: 100%;
  }
  .review__col-three {
    max-width: 45%;
  }
  .contact__content {
    flex-direction: column;
  }
  .contact__col-first {
    max-width: 98px;
  }
  .col__second-item:nth-child(4) {
    display: none;
  }
  .col__second-item.col__second-item-mb {
    display: block;
  }
  .col__second-item-mb p {
    font-weight: 400;
    font-size: 7px;
    line-height: 100%;
  }
  .contact__content-left {
    justify-content: space-between;
  }
  .input-text a {
    font-size: 6px;
  }
  .col__second-item .input-text {
    width: 130px;
  }
  .name-title {
    font-size: 10px;
  }
  .contact__col-second {
    margin: 0;
    width: auto;
  }
  .col__second-social a {
    width: 13px;
    height: 13px;
  }
  .col__second-social {
    margin: 7px 0 14px;
  }
  .contact__col-third .popup__header {
    padding: 15px;
    border-radius: 20px 20px 0 0;
  }
  .popup__header {
    gap: 40px;
  }
  .contact__col-third .popup__header .form__title {
    font-weight: 900;
    font-size: 10px;
    line-height: 12px;  
  }
  .form {
    border-radius: 20px;
    margin: auto;
  }
  .form .label .input-text {
    margin: 11px 0 12px;
    /* max-width: 202px; */
  }
  .form .input-text::placeholder { 
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
  }
  .form .check  {
    font-weight: 900;
    font-size: 7px;
    line-height: 8px;
  }
  .contact__col-third .form__btn { 
    font-weight: 900;
    font-size: 12px;
    line-height: 14px;
    /* width: 204px; */
    display: flex;
    justify-content: center;
    margin: 22px 0 12px;
  }
  .form .form__politic { 
    font-weight: 400;
    font-size: 7px;
    line-height: 100%;
  }
  .footer .header__list:nth-child(5) {
    margin: 0 0 30px;
  }
  .footer .header__list:nth-child(1) {
    margin: 0 0 30px;
  }
  .footer .header__nav {
    display: none;
  }
  .footer__switch {
    display: none;
  }
  .footer__social {
    display: none;
  }
  .footer__text {
    margin: 42px 0 30px;
  }
  .service__item-inner .service__item-textitem {
    margin: 17px 0 42px;
  }
}
@media (max-width: 625px) {
  .swiper-service_comment {
    width: 203px;
    margin: 20px auto 40px;
  }
  .service__complex-items, .swiper-graph {
    margin: 20px auto 0;
  }
  .swiper-slide-text {
    display: none;
  }
  
  .comment__btn {
    padding: 5px 18px;
    margin: 0 auto;
    font-size: 8px;
    line-height: 10px;
  }
  .swiper-button-next.comment-button-next {
    top: auto ;
  }
  .swiper-button-prev.comment-button-prev {
    top: auto ;
  }
  .swiper-slide-img  {
    width: 100%;
    margin: 0;
  }
  .swiper-button-prev.dev-btn-prev {
    top: 90%;
  }
  .swiper-button-next.dev-btn-next  {
    top: 90%;
  }
  .swiper-pagination-service-dev.swiper-pagination-service-dev, .swiper-pagination-service-graph {
    margin: 0;
  }
  .swiper-service_comment {
    /* margin: 20px auto 22px; */
  }
  .main h2 {
    font-size: 12px;
  }
  .project__title h2 {
    bottom: 2px;
  }
  .swiper-slide-active.comment-slide {
    height: 273px;
  }
  .swiper-slide-img img {
    width: auto;
  }
  .swiper-help {
    display: flex;
    margin: 20px 0 0;
  }
  .swiper-help img {
    width: 6px;
    height: 6px;
  }
  .swiper-slide-service {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}



@media (max-width: 481px)  {
  .project__swiper-service {
    margin: 25px 0 0;
  }
  .popup {
    width: 300px;
    height: 350px;
    border-radius: 30px;
  }
  .comment__popup-wrapper .popup {
    height: auto;
  }
  .popup__header {
    padding: 10px 10px 10px 40px;
  }
  .form__title {
    line-height: 18px;
  }
  .portfolio__popup-wrapper .popup p:nth-child(1){
    padding: 10px 0;
  }
  .popup p:nth-child(1) {
    font-size: 11px;
  }
  .portfolio__popup-wrapper .popup p:nth-child(1) {
    font-size: 11px;
  }
  .portfolio__popup-wrapper .form__btn {
    font-size: 14px;
  }
  .text__popup {
    gap: 5px;
    padding: 0 10px 0 0;
    border-radius: 20px 20px 0 0;
  }
  .popup img {
    width: 18px;
    height: 18px;
  }
  .label {
    gap: 0;
  }
  .name-title {
    font-size: 11px;
  }
  .form__wrapper {
    margin: 16px 0 10px;
  }
  .input-text {
    padding: 5px 0;
    font-size: 14px;
    margin: 10px 0 ;
  }
  .form__btn {
    padding: 10px;
    /* margin: 0; */
  }
  .popup .form__btn {
    margin: 5px 0 ;
  }
  .form__politic {
    font-size: 11px;
    word-break: break-all;
    max-width: 100%;
  }
 
  .prompt {
    color: #fff;
    display: block;
    position: relative;
    top: 20px;
    font-size: 10px;
  }
  .potrfolio__page-title {
    margin: 20px 0 20px;
  }
  .portfolio__page-slide {
    height: 156px;
  }
  .portfolio__page-swiper {
    height: 170px;
  }
  
  .portfolio__page-btn {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    padding: 7px 36px ;
    max-width: 150px;
  }
  .swiper-button-prev, .swiper-button-next, .swiper-button-next-graph, .swiper-button-prev-graph {
    width: 25px;
    height: 25px;
    padding: 8px;
  }
  .portfolio__page-link  a{
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
  }
  .portfolio__page-link {
    margin: 43px 0px 73px auto;
    width: 170px;
  }
  .simplebar-scrollbar {
    right:  1px;
    min-width: 4px;
    max-height: 30px;
    border-radius: 50px;
    background-color: #4944FF;
  }
  .simplebar-track, .simplebar-vertical {
    max-height: 143px;
    background: rgba(4, 4, 4, 0.2);
    margin: 6px 7px 6px 0;
    max-width: 2px;
    border-radius: 50px;
    overflow: visible;
  }
  .input-text::placeholder {
    font-size: 10px;
  }
  .popup__header {
    gap: 5px;
  }
  .project___title-text.project___title-text {
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
  }
  .project__title h2 {
    bottom: -4px;
  }
  .comment__btn {
    position: relative;
    bottom: 25px;
  }
}

@media (max-width: 461px) {
  .swiper-slide {
    width: 203px;
    /* height: 246px; */
  }
  .swiper-button-prev,.swiper-button-next, .swiper-button-prev-graph {
    
    /* top: 50%; */
  }
  .swiper-button-next-graph, .swiper-button-prev-graph {
    /* top: 40%; */
  }
  .complex-btn-prev, .complex-btn-next {
    display: flex;
    top: 14%;
  }
  /* .choose__wrapper {
    justify-content: center;
    gap: 10px;
  } */
  .choose label {
    font-weight: 900;
    font-size: 7px;
    line-height: 8px;
  }
  .check__input {
    width: 6px;
    height: 6px;
  }
  .contact__col-third .form__btn {
    width: 100%;
  }
  .swiper-button-prev, .swiper-button-next {
    bottom: -7px;
  }
  .swiper-web, .swiper-graph {
    max-width: 230px;
    margin: 20px auto 0;
  }
  .project__swiper-web .swiper-button-next, .swiper-button-prev, .swiper-button-next-graph, .swiper-button-prev-graph {
    top: 50%;
  }
  .swiper-pagination-web, .swiper-pagination-graph {
    margin: 10px auto 0;
  }
  .swiper-graph-title {
    margin: 25px 0 0;
  }
  .project {
    margin: 0 0 65px;
  }
  .complex-btn-prev {
    top: 14% ;
  }
  .project__swiper-service {
    /* margin: 0; */
  }
  .dev-btn-prev.dev-btn-prev, .dev-btn-next.dev-btn-next, .graph-btn-prev{ 
    top: 96%;
  }
  .project__swiper-web  {
    top: 96%;
  }
  .comment-button-next.comment-button-next {
    top: 113%;
  }
  .comment-button-prev.comment-button-prev {
    top: 113%;
  }
}

@media (max-width: 361px) {
  .portfolio__page-wrapper {
    max-height: 170px;
  }
}




